*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container::before {
    content: "";
    width: 100%;
    height: 100vh;
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: 0.4;
}

.weather {
    z-index: 2;
    display: flex;
    align-items: center;
    color: white;
}

.weather1 {
    font-size: 4rem;
}

.weather p {
    font-size: 2rem;
}

.weather span {
    font-size: 0.75rem;
}

.weather > div {
    margin: 0.625rem;
}

.weather3 span {
    margin: 0.3rem;
}

.weather3 img {
    width: 3rem;
}

nav {
    height: 100px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.18);
    position: absolute;
    bottom: 0%;
    width: 100%;
    background-color: rgba(180, 177, 177, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px 100px 0 0;
    padding: 1rem 0;
}

nav form {
    width: 70%;
    display: grid;
    grid-template-columns: 5fr 1fr;
}

.searchField {
    font-size: 1.1rem;
    outline: none;
    color: white;
    background-color: transparent;
    padding: 1rem 0;
    border: none;
    border-bottom: 2px solid white;
    width: 98%;
}

nav form button {
    cursor: pointer;
    background-color: bisque;
    border: none;
    border-radius: 0 25px 25px 0;
    font-size: 1.1rem;
    font-weight: bold;
}
