* {
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
}

.container {
    background-color: white;
    width: 45%;
    margin: auto;
    min-height: 100vh;
    padding: 30px;
    box-sizing: border-box;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2vmax;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea, 
button {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    font: 100 1.1rem sans-serif;
    border-radius: 5px;
    outline: none;
    margin: 10px;
}

button {
    background-color: rgb(50, 50, 50);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

.task {
    background-color: rgb(247, 247, 247);
    font: 100 1.1rem sans-serif;
    padding: 30px;
    color: rgba(0, 0, 0, 0.868);
    display: flex;
    align-items: center;
    margin: 2vmax;
}

.task span {
    color: rgba(0, 0, 0, 0.632);
}

.task > div {
    width: 100%;
}

.deleteBtn {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: crimson;
}