* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 20px;
}

.couterTimer {
    display: flex;
}

.couterTimer > p{
    font-size: 1.2rem;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.couterTimer > p > span{
    display: block;
    font-size: 4rem;
}