*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(45, 45, 45);
}

.container {
    width: 80%;
    min-height: 80vh;
    background-color: white;
    margin: auto;
    padding: 50px 50px;
    box-sizing: border-box;
}

h1 {
    background-color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

.paras {
    background-color: rgb(218, 218, 218);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 1vmax;
    letter-spacing: 2px;
    word-spacing: 5px;
    padding: 20px;
    border-radius: 5px;
}

#numberWords{
    background-color: white;
    border: 1px solid rgb(214, 211, 211);
    margin: 1vmax;
    padding: 20px;
    width: 25%;
    outline: none;
    font: 100 1.3rem Georgia;
}

.btn {
    color: white;
    padding: 20px;
    font: 100 1.3rem Georgia;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}

.btn:hover {
    background-color: black;
}

#myBtn2 {
    background-color: white;
    color: black;
    padding: 20px;
    font: 100 1.3rem Georgia;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-left: 80vmax;
    margin-top: 2vmax;
    margin-bottom: 2vmax;
}

#myBtn2:hover {
    background-color: rgb(203, 201, 201);
}